:ruby
  url         = states_url
  title       = "States List | RiverBoss"
  description = "Get river conditions from these states list"
  keywords    = "rivers,states,river conditions"

  set_meta_tags(description: description,
    keywords: keywords,
    title: title,
    twitter: { card: "summary", site: "@riverboss", url: url, title: title, description: description },
    og: { title: title, url: url, type: "website", description: description, site_name: "RiverBoss" },
    canonical: url)

%section#content
  .content-holder
    %h1 States

  %table
    - @states.each do |s|
      %tr
        %td.col1= link_to s.name, state_path(s)