%h2 Welcome
%p
  Thanks for visiting RiverBoss 3.0. Our goal is to provide river anglers, rafters and boaters with the intelligence you need to make your next river trip safe and successful. Don’t forget to
  = link_to "register", new_user_registration_path
  to receive full access to RiverBoss.com features. See you on the river!

%h2 Learn More
%p
  Check out our
  = link_to "User Guide", "/pages/user-guide"
  to learn more about RiverBoss features and functionality. Or visit our
  = link_to "About page", "/pages/about"
  to learn how we built and populated this website and it's history.