%h2 newsletter
%p Sign-up for our newsletter and receive new, updates and river information via email.
%form.email-form
  %fieldset
    %input{placeholder: "email address", type: "email"}/
    %input{type: "submit", value: "GO"}/