- rivers ||= @rivers
- no_pagination ||= false

- if rivers.any?
  %table.table.big.hovered
    - @rivers.each do |s|
      %tr
        %td= link_to s.name, river_path(s)
  %br/
  = paginate rivers unless no_pagination
- else
  %h3 Sorry, we couldn’t find any rivers that match your search terms.
