%form.search-form#search_form{action: search_rivers_path}
  %fieldset
    = text_field_tag :q, params[:q], placeholder: "search rivers", type: "search", class: "river-autocomplete auto-submit", id: "search_input_field", data: {url: autocomplete_rivers_url}
    = submit_tag "Go", name: nil